# Dia 1 - Importa√ß√£o de Dados

In [33]:
# Importando bibliotecas

!pip install pyarrow
!pip install pandas

Requirement already satisfied: pyarrow in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (20.0.0)
Requirement already satisfied: pandas in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jhonny\desktop\7 days of code\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [34]:
import pandas as pd
import glob

### Criando reposit√≥rios para os arquivos

In [101]:
# Criando diret√≥rios e pastas para receber os arquivos do GitHub

from pathlib import Path

# Cria um caminho (sem criar ainda no sistema de arquivos)
pasta_emprestimos = Path("dados/emprestimos")
pasta_exemplares = Path("dados/exemplares")

# Cria√ß√£o das pastas, incluindo as intermedi√°rias se n√£o existirem
pasta_emprestimos.mkdir(parents=True, exist_ok=True)
pasta_exemplares.mkdir(parents=True, exist_ok=True)

### Realizando a coleta de dados

In [36]:
# Baixando os arquivos para as pastas correspondentes

import requests

# Baixando CSVs

# Lista de anos para concatenar o nome do arquivo.
# Os arquivos CSV tem o mesmo prefixo mudando apenas o final.
# Para n√£o importar os arquivos um a um, cria-se uma lista com o nome final,
# e concatena com o prefixo, realizando o download com um loop
lista_emprestimos = []

# Criando a lista autom√°ticamente
for ano in range(2010, 2021):
    for semestre in [1, 2]:
        if ano == 2020 and semestre == 2:
            continue # pula o segundo semestre de 2020 e encerra o loop
        lista_emprestimos.append(f'{ano}{semestre}')

# Loop de download
for ano in lista_emprestimos:
    # passando o link para download e concatenando o ano ao final do nome do arquivo
    url = f"https://raw.githubusercontent.com/franciscofoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-{ano}.csv"
    
    # faz uma requisi√ß√£o HTTP e armazena (get) a resposta em r
    r = requests.get(url)
    
    # armazenando o arquivo na pasta correspondente
    with open(f"dados/emprestimos/emprestimos-{ano}.csv", "wb") as f:
        f.write(r.content) # escreve o conte√∫do de "r", que √© o que ele pegou do link, o arquivo.

# Baixando o Parquet

parquet_url = f"https://github.com/franciscofoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet"
r = requests.get(parquet_url)

with open("dados/exemplares/dados_exemplares.parquet", "wb") as f:
    f.write(r.content)

In [37]:
# Criando uma lista com os caminhos de todos os arquivos .csv na pasta emprestimos
caminhos_csv = glob.glob("dados/emprestimos/*.csv")
print(caminhos_csv)

['dados/emprestimos\\emprestimos-20101.csv', 'dados/emprestimos\\emprestimos-20102.csv', 'dados/emprestimos\\emprestimos-20111.csv', 'dados/emprestimos\\emprestimos-20112.csv', 'dados/emprestimos\\emprestimos-20121.csv', 'dados/emprestimos\\emprestimos-20122.csv', 'dados/emprestimos\\emprestimos-20131.csv', 'dados/emprestimos\\emprestimos-20132.csv', 'dados/emprestimos\\emprestimos-20141.csv', 'dados/emprestimos\\emprestimos-20142.csv', 'dados/emprestimos\\emprestimos-20151.csv', 'dados/emprestimos\\emprestimos-20152.csv', 'dados/emprestimos\\emprestimos-20161.csv', 'dados/emprestimos\\emprestimos-20162.csv', 'dados/emprestimos\\emprestimos-20171.csv', 'dados/emprestimos\\emprestimos-20172.csv', 'dados/emprestimos\\emprestimos-20181.csv', 'dados/emprestimos\\emprestimos-20182.csv', 'dados/emprestimos\\emprestimos-20191.csv', 'dados/emprestimos\\emprestimos-20192.csv', 'dados/emprestimos\\emprestimos-20201.csv']

### Checando se a coluna `data_emprestimo` existe e se tem datas v√°lidas nos arquivos .csv

Verifica√ß√£o intermedi√°ria inserida por conta da necessidade do `Desafio03`.

In [55]:
print("\nüîç INICIANDO VERIFICA√á√ÉO DOS ARQUIVOS .CSV\n")

for caminho in caminhos_csv:
    print(f'\nüìÑ Verificando o arquivo: {caminho}')
    try:
        df_temp = pd.read_csv(caminho, sep=',', encoding='utf-8')

        if 'data_emprestimo' in df_temp.columns:
            df_temp['data_emprestimo'] = pd.to_datetime(df_temp['data_emprestimo'], errors='coerce')
            total = len(df_temp)
            nulos = df_temp['data_emprestimo'].isnull().sum()
            validos = total - nulos

            print(f'‚úîÔ∏è Total de linhas: {total}')
            print(f'üü¢ Datas v√°lidas: {validos}')
            print(f'üî¥ Datas nulas/NaT: {nulos}')

            if validos > 0:
                anos = df_temp['data_emprestimo'].dropna().dt.year.value_counts().sort_index()
                print(f'üìÜ Anos detectados: \n{anos}')
        else:
            print('‚ö†Ô∏è Coluna "data_emprestimo" n√£o encontrada.')
    
    except Exception as e:
        print(f'‚ùå Erro ao ler {caminho}: {e}')

üîç INICIANDO VERIFICA√á√ÉO DOS ARQUIVOS .CSV


üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20101.csv
‚úîÔ∏è Total de linhas: 95357
üü¢ Datas v√°lidas: 95357
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2010    95357
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20102.csv
‚úîÔ∏è Total de linhas: 100696
üü¢ Datas v√°lidas: 100696
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2010    100696
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20111.csv
‚úîÔ∏è Total de linhas: 108547
üü¢ Datas v√°lidas: 108547
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2011    108547
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20112.csv
‚úîÔ∏è Total de linhas: 120813
üü¢ Datas v√°lidas: 120813
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2011    120813
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20121.csv
‚úîÔ∏è Total de linhas: 132606
üü¢ Datas v√°lidas: 132606
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2012    132606
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20122.csv
‚úîÔ∏è Total de linhas: 117431
üü¢ Datas v√°lidas: 117431
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2012    117431
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20131.csv
‚úîÔ∏è Total de linhas: 135090
üü¢ Datas v√°lidas: 135090
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2013    135090
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20132.csv
‚úîÔ∏è Total de linhas: 124196
üü¢ Datas v√°lidas: 124196
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2013    124196
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20141.csv
‚úîÔ∏è Total de linhas: 113181
üü¢ Datas v√°lidas: 113181
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2014    113181
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20142.csv
‚úîÔ∏è Total de linhas: 122129
üü¢ Datas v√°lidas: 122129
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2014    122129
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20151.csv
‚úîÔ∏è Total de linhas: 126738
üü¢ Datas v√°lidas: 126738
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2015    126738
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20152.csv
‚úîÔ∏è Total de linhas: 98115
üü¢ Datas v√°lidas: 98115
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2015    98115
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20161.csv
‚úîÔ∏è Total de linhas: 118733
üü¢ Datas v√°lidas: 118733
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2016    118733
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20162.csv
‚úîÔ∏è Total de linhas: 107179
üü¢ Datas v√°lidas: 107179
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2016    107179
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20171.csv
‚úîÔ∏è Total de linhas: 118714
üü¢ Datas v√°lidas: 118714
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2017    118714
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20172.csv
‚úîÔ∏è Total de linhas: 110326
üü¢ Datas v√°lidas: 110326
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2017    110326
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20181.csv
‚úîÔ∏è Total de linhas: 107065
üü¢ Datas v√°lidas: 107065
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2018    107065
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20182.csv
‚úîÔ∏è Total de linhas: 95015
üü¢ Datas v√°lidas: 95015
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2018    95015
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20191.csv
‚úîÔ∏è Total de linhas: 95839
üü¢ Datas v√°lidas: 95839
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2019    95839
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20192.csv
‚úîÔ∏è Total de linhas: 83687
üü¢ Datas v√°lidas: 83687
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2019    83687
Name: count, dtype: int64

üìÑ Verificando o arquivo: dados/emprestimos\emprestimos-20201.csv
‚úîÔ∏è Total de linhas: 26561
üü¢ Datas v√°lidas: 26561
üî¥ Datas nulas/NaT: 0
üìÜ Anos detectados:
data_emprestimo
2020    26561
Name: count, dtype: int64

### Criando um DataFrame de DataFrames e Concatenando

In [70]:
# Adicionando todos os CSVs em um √∫nico DataFrame

dataframes = []

for caminho in caminhos_csv: 
    print(f'Lendo o arquivo: {caminho}') 
    try:
        # For√ßando leitura de todas as colunas como string para evitar erros com datas e floats
        df = pd.read_csv(caminho, sep=',', encoding='utf-8', dtype=str) 
        print(f'Primeiras linhas do arquivo {caminho}:')
        print(df.head()) 
        dataframes.append(df)
    except Exception as e:
        print(f'Erro ao ler {caminho}: {e}')

if not dataframes:
    print('Nenhum arquivo foi lido corretamente!')
else:
    df_emprestimos = pd.concat(dataframes, ignore_index=True)
    print("DataFrame final concatenado:")
    print(df_emprestimos.head())

Lendo o arquivo: dados/emprestimos\emprestimos-20101.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20101.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0        709684       L095049                            NaN
1        709685       L167050                            NaN
2        709686    2006017618  2010/01/26 08:07:01.738000000
3        709687       L184117  2010/01/18 11:07:46.470000000
4        709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2008023265.0      ALUNO DE GRADUA√á√ÉO
1       2008023265.0      ALUNO DE GRADUA√á√ÉO
2       2008112114.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3        200721119.0      ALUNO DE GRADUA√á√ÉO
4       2008023265.0      ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20102.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20102.csv:
  id_emprestimo                codigo_barras                 data_renovacao  \
0        799100  S025602_19/11/2013 10:51:34                            NaN
1        799101                   2008049500                            NaN
2        799102                      X008043                            NaN
3        799103                   2009055438  2010/07/14 18:35:35.042000000
4        799104                      S024636  2010/07/16 21:29:43.569000000

                 data_emprestimo                 data_devolucao  \
0  2010/07/01 07:45:41.111000000  2010/07/07 10:52:31.000000000
1  2010/07/01 08:08:17.690000000  2010/07/01 09:03:44.000000000
2  2010/07/01 08:13:31.574000000  2010/07/09 15:14:44.000000000
3  2010/07/01 08:22:46.085000000  2010/07/29 14:59:16.000000000
4  2010/07/01 08:40:28.512000000  2010/07/28 07:49:32.000000000

  matricula_ou_siape tipo_vinculo_usuario
0       2009049900.0   ALUNO DE GRADUA√á√ÉO
1       2010055519.0   ALUNO DE GRADUA√á√ÉO
2       2009043367.0   ALUNO DE GRADUA√á√ÉO
3       2009054059.0   ALUNO DE GRADUA√á√ÉO
4       2009053540.0   ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20111.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20111.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0        920246       Y019450                            NaN
1        920247       Y020420                            NaN
2        920248       S020100  2011/01/17 23:31:17.992000000
3        920249       S024844  2011/01/17 23:31:17.944000000
4        920250       S026026  2011/01/17 23:31:17.915000000

                 data_emprestimo                 data_devolucao  \
0  2011/01/03 08:08:18.986000000  2011/01/14 08:36:10.000000000
1  2011/01/03 08:08:19.077000000  2011/01/14 08:36:27.000000000
2  2011/01/03 08:48:20.360000000  2011/01/18 12:37:26.000000000
3  2011/01/03 08:48:20.433000000  2011/02/07 17:46:44.000000000
4  2011/01/03 08:48:20.483000000  2011/01/18 12:37:43.000000000

  matricula_ou_siape             tipo_vinculo_usuario
0       2010070860.0               ALUNO DE GRADUA√á√ÉO
1       2010070860.0               ALUNO DE GRADUA√á√ÉO
2          1636623.0  SERVIDOR T√âCNICO-ADMINISTRATIVO
3          1636623.0  SERVIDOR T√âCNICO-ADMINISTRATIVO
4          1636623.0  SERVIDOR T√âCNICO-ADMINISTRATIVO
Lendo o arquivo: dados/emprestimos\emprestimos-20112.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20112.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1028831    2011018942                            NaN
1       1028832    2007009824  2011/07/13 14:30:22.933000000
2       1028833    2007009936  2011/07/13 14:30:22.883000000
3       1028834    2009055437                            NaN
4       1028835    2010093874                            NaN

                 data_emprestimo                 data_devolucao  \
0  2011/07/01 07:25:27.592000000  2011/07/01 18:58:29.000000000
1  2011/07/01 07:46:01.133000000  2011/07/28 09:27:13.000000000
2  2011/07/01 07:46:01.203000000  2011/07/22 08:24:33.000000000
3  2011/07/01 07:52:18.019000000  2011/07/19 13:30:34.000000000
4  2011/07/01 07:52:18.102000000  2011/07/19 13:30:47.000000000

  matricula_ou_siape tipo_vinculo_usuario
0       2011025576.0   ALUNO DE GRADUA√á√ÉO
1       2009072448.0   ALUNO DE GRADUA√á√ÉO
2       2009072448.0   ALUNO DE GRADUA√á√ÉO
3       2010065387.0   ALUNO DE GRADUA√á√ÉO
4       2010065387.0   ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20121.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20121.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1149749    2010094241  2012/01/17 06:11:08.245000000
1       1149750    2011033432  2012/01/17 06:11:08.211000000
2       1149751    2011077429  2012/01/17 06:11:08.172000000
3       1149752    2011012082  2012/01/15 12:58:34.433000000
4       1149753    2007030983  2012/01/17 10:10:25.514000000

                 data_emprestimo                 data_devolucao  \
0  2012/01/02 07:43:45.619000000  2012/01/31 11:38:29.000000000
1  2012/01/02 07:43:45.673000000  2012/01/31 11:38:12.000000000
2  2012/01/02 07:43:45.718000000  2012/01/31 11:38:44.000000000
3  2012/01/02 08:26:07.711000000  2012/01/30 08:49:35.000000000
4  2012/01/02 08:31:42.179000000  2012/02/06 17:17:51.000000000

  matricula_ou_siape tipo_vinculo_usuario
0       2009038568.0   ALUNO DE GRADUA√á√ÉO
1       2009038568.0   ALUNO DE GRADUA√á√ÉO
2       2009038568.0   ALUNO DE GRADUA√á√ÉO
3       2009063082.0   ALUNO DE GRADUA√á√ÉO
4       2011050908.0   ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20122.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20122.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1282500    2009037511                            NaN
1       1282501    2010073018                            NaN
2       1282502    2012009920                            NaN
3       1282503    2012010334                            NaN
4       1282504    2007013584  2012/08/06 23:03:54.648000000

                 data_emprestimo                 data_devolucao  \
0  2012/07/02 08:46:50.254000000  2012/07/02 08:47:51.000000000
1  2012/07/02 09:11:58.745000000  2012/09/06 20:38:14.000000000
2  2012/07/02 09:11:58.808000000  2012/09/06 20:38:17.000000000
3  2012/07/02 09:11:58.876000000  2012/09/06 20:38:22.000000000
4  2012/07/02 09:11:59.409000000  2012/09/06 17:05:49.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2011100797.0  ALUNO DE P√ìS-GRADUA√á√ÉO
1       2008010678.0      ALUNO DE GRADUA√á√ÉO
2       2008010678.0      ALUNO DE GRADUA√á√ÉO
3       2008010678.0      ALUNO DE GRADUA√á√ÉO
4       2011109513.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20131.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20131.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1399987    2007022885                            NaN
1       1399988       Y017748                            NaN
2       1399989    2010085755                            NaN
3       1399990    2011062415  2013/02/01 11:25:03.172000000
4       1399991    2011023440                            NaN

                 data_emprestimo                 data_devolucao  \
0  2013/01/02 08:57:46.976000000  2013/01/08 16:35:08.000000000
1  2013/01/02 09:59:32.818000000  2013/01/17 08:58:34.000000000
2  2013/01/02 09:59:32.870000000  2013/01/17 08:58:41.000000000
3  2013/01/02 10:22:22.676000000  2013/02/18 15:32:23.000000000
4  2013/01/02 10:22:22.725000000  2013/01/04 09:55:07.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2010118035.0  ALUNO DE P√ìS-GRADUA√á√ÉO
1       2012904631.0      ALUNO DE GRADUA√á√ÉO
2       2012904631.0      ALUNO DE GRADUA√á√ÉO
3       2012110733.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4       2012110733.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20132.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20132.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1535182       E002010                            NaN
1       1535183    2010049079  2013/07/16 17:25:10.615000000
2       1535184    2011013154  2013/07/16 21:03:55.928000000
3       1535185    2011001485  2013/07/16 21:03:55.802000000
4       1535186    2012038972  2013/07/16 17:51:37.835000000

                 data_emprestimo                 data_devolucao  \
0  2013/07/01 07:47:13.765000000  2013/08/06 20:28:21.000000000
1  2013/07/01 07:47:23.170000000  2013/07/18 09:50:26.000000000
2  2013/07/01 07:54:01.549000000  2013/07/30 08:39:22.000000000
3  2013/07/01 07:54:01.611000000  2013/07/17 08:56:58.000000000
4  2013/07/01 08:23:51.535000000  2013/07/31 13:51:11.000000000

  matricula_ou_siape tipo_vinculo_usuario
0       2012320365.0  ALUNO M√âDIO/T√âCNICO
1       2009007190.0   ALUNO DE GRADUA√á√ÉO
2       2011018150.0   ALUNO DE GRADUA√á√ÉO
3       2011018150.0   ALUNO DE GRADUA√á√ÉO
4       2011092659.0   ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20141.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20141.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1659526       Y018631                            NaN
1       1659527    2011018134  2014/02/02 18:59:52.193000000
2       1659528    2013011501  2014/02/02 18:59:51.423000000
3       1659529    2012052570                            NaN
4       1659530    2012029554  2014/01/13 09:05:33.092000000

                 data_emprestimo                 data_devolucao  \
0  2014/01/02 07:27:19.018000000  2014/01/27 14:07:45.000000000
1  2014/01/02 07:57:33.780000000  2014/02/27 16:56:46.000000000
2  2014/01/02 07:57:33.891000000  2014/02/27 16:56:51.000000000
3  2014/01/02 08:01:27.966000000  2014/01/21 07:16:23.000000000
4  2014/01/02 08:04:35.150000000  2014/01/20 18:04:37.000000000

  matricula_ou_siape tipo_vinculo_usuario
0       2011020426.0   ALUNO DE GRADUA√á√ÉO
1          3456619.0              DOCENTE
2          3456619.0              DOCENTE
3       2013036855.0   ALUNO DE GRADUA√á√ÉO
4       2013013449.0   ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20142.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20142.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1772829       C002857                            NaN
1       1772830    2011061496                            NaN
2       1772831    2011065929                            NaN
3       1772832    2013106666                            NaN
4       1772833    2014000856  2014/07/16 14:40:34.640000000

                 data_emprestimo                 data_devolucao  \
0  2014/07/01 08:20:40.476000000  2014/07/01 09:55:02.000000000
1  2014/07/01 08:20:40.567000000  2014/07/01 08:26:05.000000000
2  2014/07/01 08:20:40.675000000  2014/07/21 07:14:12.000000000
3  2014/07/01 08:20:40.797000000  2014/07/01 08:26:23.000000000
4  2014/07/01 08:20:56.969000000  2014/07/25 10:22:13.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2013124297.0  ALUNO DE P√ìS-GRADUA√á√ÉO
1       2013124297.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2       2013124297.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3       2013124297.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4       2013075352.0      ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20151.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20151.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       1895298    2014007904                            NaN
1       1895299    2014061826                            NaN
2       1895300    2014059501                            NaN
3       1895301    2014037987                            NaN
4       1895302    2014059024  2015/01/16 16:01:54.126000000

                 data_emprestimo                 data_devolucao  \
0  2015/01/02 08:48:54.915000000  2015/02/09 16:15:02.000000000
1  2015/01/02 08:48:55.227000000  2015/02/09 16:15:08.000000000
2  2015/01/02 08:48:55.495000000  2015/02/09 16:15:15.000000000
3  2015/01/02 09:01:36.820000000  2015/04/13 16:54:20.000000000
4  2015/01/02 09:16:49.566000000  2015/02/03 16:00:40.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2010116433.0  ALUNO DE P√ìS-GRADUA√á√ÉO
1       2010116433.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2       2010116433.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3       2010116433.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4       2013021576.0      ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20152.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20152.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       2022146    2015009397                            NaN
1       2022147    2010052834                            NaN
2       2022148    2010052992                            NaN
3       2022149    2011021723                            NaN
4       2022150    2015005875  2015/07/16 23:19:18.731000000

                 data_emprestimo                 data_devolucao  \
0  2015/07/01 08:12:35.943000000  2015/07/22 08:48:28.000000000
1  2015/07/01 08:37:41.729000000  2015/07/02 11:42:26.000000000
2  2015/07/01 08:37:42.223000000  2015/07/06 15:05:49.000000000
3  2015/07/01 08:37:42.628000000  2015/07/02 11:42:31.000000000
4  2015/07/01 08:38:08.589000000  2015/10/28 12:34:41.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2014081523.0      ALUNO DE GRADUA√á√ÉO
1       2014128085.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2       2014128085.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3       2014128085.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4       2013018220.0      ALUNO DE GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20161.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20161.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       2351371    2011010806  2016/01/13 07:22:40.736000000
1       2351372       L078593  2016/01/31 07:31:36.960000000
2       2351373    2010040100  2016/01/31 07:31:36.902000000
3       2351374    2013105705  2016/01/31 07:31:36.843000000
4       2351375       L057436  2016/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2016/01/02 08:01:14.113000000  2016/01/30 07:05:05.000000000
1  2016/01/02 08:29:46.657000000  2016/02/21 13:16:48.000000000
2  2016/01/02 08:29:46.722000000  2016/02/21 13:16:33.000000000
3  2016/01/02 08:29:46.794000000  2016/02/21 13:15:46.000000000
4  2016/01/02 08:38:40.009000000  2016/02/21 13:16:29.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2014035816.0      ALUNO DE GRADUA√á√ÉO
1      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4      20161010760.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20162.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20162.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       2244075    2014000938  2016/07/18 08:45:47.144000000
1       2244076    2014068108                            NaN
2       2244077    2011019724                            NaN
3       2244078    2013087606                            NaN
4       2244079    2015035561  2016/07/17 10:04:58.043000000

                 data_emprestimo                 data_devolucao  \
0  2016/07/01 07:35:35.546000000  2016/08/02 13:41:40.000000000
1  2016/07/01 08:15:16.838000000  2016/07/01 08:19:09.000000000
2  2016/07/01 08:23:08.484000000  2016/07/01 08:23:52.000000000
3  2016/07/01 08:28:36.707000000  2016/07/18 08:31:59.000000000
4  2016/07/01 08:29:36.655000000  2016/07/25 11:45:48.000000000

  matricula_ou_siape             tipo_vinculo_usuario
0          1120256.0  SERVIDOR T√âCNICO-ADMINISTRATIVO
1       2013055636.0               ALUNO DE GRADUA√á√ÉO
2       2013055636.0               ALUNO DE GRADUA√á√ÉO
3          2243905.0  SERVIDOR T√âCNICO-ADMINISTRATIVO
4          2410747.0                          DOCENTE
Lendo o arquivo: dados/emprestimos\emprestimos-20171.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20171.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       9405484    2011010806  2017/01/13 07:22:40.736000000
1       9405488       L078593  2017/01/31 07:31:36.960000000
2       9405492    2010040100  2017/01/31 07:31:36.902000000
3       9405496    2013105705  2017/01/31 07:31:36.843000000
4       9405500       L057436  2017/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2017/01/02 08:01:14.113000000  2017/01/30 07:05:05.000000000
1  2017/01/02 08:29:46.657000000  2017/02/21 13:16:48.000000000
2  2017/01/02 08:29:46.722000000  2017/02/21 13:16:33.000000000
3  2017/01/02 08:29:46.794000000  2017/02/21 13:15:46.000000000
4  2017/01/02 08:38:40.009000000  2017/02/21 13:16:29.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2014035816.0      ALUNO DE GRADUA√á√ÉO
1      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3      20161011168.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4      20161010760.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20172.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20172.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       9880640    2015035868                            NaN
1       9880644       Y012079  2017/07/18 17:56:06.584000000
2       9880648    2014086285  2017/08/02 03:03:43.220000000
3       9880652    2014083935  2017/08/02 03:03:43.197000000
4       9880656    2014086281  2017/08/02 03:03:43.175000000

                 data_emprestimo                 data_devolucao  \
0  2017/07/03 07:11:59.514000000  2017/07/03 07:12:27.000000000
1  2017/07/03 07:50:51.650000000  2017/08/09 18:53:58.000000000
2  2017/07/03 08:20:56.988000000  2017/09/01 07:48:33.000000000
3  2017/07/03 08:20:57.085000000  2017/09/01 07:48:51.000000000
4  2017/07/03 08:20:57.144000000  2017/09/01 07:49:01.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0       2016042604.0      ALUNO DE GRADUA√á√ÉO
1      20150131130.0      ALUNO DE GRADUA√á√ÉO
2      20171015563.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3      20171015563.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4      20171015563.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20181.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20181.csv:
  id_emprestimo codigo_barras                 data_renovacao  \
0       2580583    2013114890  2018/01/17 12:38:14.159000000
1       2580584    2015030473  2018/01/17 12:38:14.140000000
2       2580585    2016025968  2018/01/17 12:38:14.116000000
3       2580586       L146150                            NaN
4       2580587       L028286                            NaN

                 data_emprestimo                 data_devolucao  \
0  2018/01/02 07:38:43.431000000  2018/02/08 10:11:11.000000000
1  2018/01/02 07:38:43.521000000  2018/02/08 10:11:08.000000000
2  2018/01/02 07:38:43.567000000  2018/02/08 10:11:06.000000000
3  2018/01/02 08:00:21.472000000  2018/01/03 14:00:26.000000000
4  2018/01/02 08:00:21.517000000  2018/01/18 16:49:40.000000000

  matricula_ou_siape    tipo_vinculo_usuario
0      20191023179.0  ALUNO DE P√ìS-GRADUA√á√ÉO
1      20191023179.0  ALUNO DE P√ìS-GRADUA√á√ÉO
2      20191023179.0  ALUNO DE P√ìS-GRADUA√á√ÉO
3      20171002770.0  ALUNO DE P√ìS-GRADUA√á√ÉO
4      20171002770.0  ALUNO DE P√ìS-GRADUA√á√ÉO
Lendo o arquivo: dados/emprestimos\emprestimos-20182.csv

In [71]:
df_emprestimos.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUA√á√ÉO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUA√á√ÉO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE P√ìS-GRADUA√á√ÉO

### Convertendo as colunas contendo datas para `datetime`

In [72]:
# Convertendo padr√£o das colunas de datas

df_emprestimos['data_emprestimo'] = pd.to_datetime(df_emprestimos['data_emprestimo'], errors='coerce')
df_emprestimos['data_devolucao'] = pd.to_datetime(df_emprestimos['data_devolucao'], errors='coerce')
df_emprestimos['data_renovacao'] = pd.to_datetime(df_emprestimos['data_renovacao'], errors='coerce')

In [73]:
df_emprestimos.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUA√á√ÉO
1,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUA√á√ÉO
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2008112114.0,ALUNO DE P√ìS-GRADUA√á√ÉO

In [74]:
df_emprestimos.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario'],
      dtype='object')

### Verificando valores nulos

In [77]:
# Verificando e tratando valores nulos

df_emprestimos.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1285720
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3170
tipo_vinculo_usuario          0
dtype: int64

### Verificando Duplicatas

In [78]:
df_emprestimos['data_emprestimo'].value_counts()

data_emprestimo
2010-01-04 09:58:46.522    7
2010-01-04 09:58:46.549    7
2010-12-06 00:00:00.000    6
2010-12-15 00:00:00.000    5
2010-11-24 00:00:00.000    4
                          ..
2013-04-12 09:19:45.309    1
2013-04-12 09:19:24.655    1
2013-04-12 09:19:24.589    1
2013-04-12 09:18:27.679    1
2020-06-09 11:54:02.852    1
Name: count, Length: 2257902, dtype: int64

In [79]:
# Verificando duplicatas no DataFrame inteiro

df_emprestimos.duplicated().sum()

np.int64(37)

In [80]:
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao           data_emprestimo          data_devolucao           matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010-01-17 18:56:43.923  2010-01-04 09:58:46.522  2010-02-01 13:59:02.528  2008009890.0        ALUNO DE GRADUA√á√ÉO        7
709705         2009032168     2010-01-17 18:56:43.909  2010-01-04 09:58:46.549  2010-01-20 13:14:34.464  2008009890.0        ALUNO DE GRADUA√á√ÉO        7
709698         2009047725     2010-01-18 14:44:41.163  2010-01-04 09:21:19.099  2010-02-02 12:02:38.444  2009046838.0        ALUNO DE GRADUA√á√ÉO        3
709686         2006017618     2010-01-26 08:07:01.738  2010-01-04 08:08:44.081  2010-02-25 07:36:25.800  2008112114.0        ALUNO DE P√ìS-GRADUA√á√ÉO    2
2351391        L195470        2016-01-17 16:03:38.760  2016-01-02 10:12:01.462  2016-01-27 16:37:55.000  2014036205.0        ALUNO DE GRADUA√á√ÉO        2
                                                                                                                                                      ..
1651899        L170461        2013-12-17 21:30:34.839  2013-12-04 11:04:38.626  2014-01-27 20:10:42.000  2008045951.0        ALUNO DE GRADUA√á√ÉO        1
1651916        2008047971     2014-01-03 13:34:45.848  2013-12-04 11:22:02.877  2014-02-04 14:42:48.000  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
1651917        X008559        2014-01-03 13:34:45.746  2013-12-04 11:22:02.944  2014-02-04 14:42:58.000  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
1651918        2010066964     2014-01-03 13:34:45.642  2013-12-04 11:22:02.998  2014-02-04 14:43:02.000  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
9999996        2010091715     2017-08-28 00:33:45.446  2017-08-16 16:20:12.379  2017-09-11 20:51:02.000  2016010736.0        ALUNO DE GRADUA√á√ÉO        1
Name: count, Length: 968028, dtype: int64

In [81]:
# Mostra todas as linhas duplicadas

df_emprestimos[df_emprestimos.duplicated()]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
4,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUA√á√ÉO
5,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUA√á√ÉO
6,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2008112114.0,ALUNO DE P√ìS-GRADUA√á√ÉO
7,709687,L184117,2010-01-18 11:07:46.470,2010-01-04 08:24:21.284,2010-02-03 08:58:45.692,200721119.0,ALUNO DE GRADUA√á√ÉO
19,709698,2009047725,2010-01-18 14:44:41.163,2010-01-04 09:21:19.099,2010-02-02 12:02:38.444,2009046838.0,ALUNO DE GRADUA√á√ÉO
20,709698,2009047725,2010-01-18 14:44:41.163,2010-01-04 09:21:19.099,2010-02-02 12:02:38.444,2009046838.0,ALUNO DE GRADUA√á√ÉO
28,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
29,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
30,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
31,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
32,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
33,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
34,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
35,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
36,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
37,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
38,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUA√á√ÉO
39,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUA√á√ÉO
1394906,2351375,L057436,2016-01-31 07:30:36.293,2016-01-02 08:38:40.009,2016-02-21 13:16:29.000,20161010760.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394907,2351376,H004983,2016-01-31 07:31:36.786,2016-01-02 08:46:42.991,2016-02-22 16:10:28.000,20161011168.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394908,2351377,H011333,2016-01-31 07:31:36.658,2016-01-02 08:46:43.400,2016-02-22 16:10:40.000,20161011168.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394924,2351385,2013114886,2016-01-16 07:41:19.590,2016-01-02 10:02:44.456,2016-01-30 07:52:10.000,2015315556.0,ALUNO M√âDIO/T√âCNICO
1394925,2351386,2015005192,2016-01-16 07:41:19.537,2016-01-02 10:02:44.507,2016-01-30 07:52:07.000,2015315556.0,ALUNO M√âDIO/T√âCNICO
1394926,2351387,2015004940,2016-01-16 07:41:19.473,2016-01-02 10:02:44.560,2016-01-30 07:52:00.000,2015315556.0,ALUNO M√âDIO/T√âCNICO
1394927,2351388,2012029817,NaT,2016-01-02 10:08:27.599,2016-01-23 16:28:01.000,20161013903.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394928,2351389,2014077426,NaT,2016-01-02 10:08:27.658,2016-01-23 16:27:57.000,20161013903.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394929,2351390,2015007050,2016-01-31 23:03:17.389,2016-01-02 10:08:27.720,2016-03-16 16:26:37.000,20161013903.0,ALUNO DE P√ìS-GRADUA√á√ÉO
1394930,2351391,L195470,2016-01-17 16:03:38.760,2016-01-02 10:12:01.462,2016-01-27 16:37:55.000,2014036205.0,ALUNO DE GRADUA√á√ÉO
1394931,2351392,2015008037,2016-01-17 16:03:38.705,2016-01-02 10:12:01.529,2016-01-27 16:37:59.000,2014036205.0,ALUNO DE GRADUA√á√ÉO
1504567,2461092,2014007909,NaT,2016-06-14 11:13:44.817,2016-06-16 09:55:01.000,2016088748.0,ALUNO DE GRADUA√á√ÉO
1504568,2461093,2014007908,NaT,2016-06-14 11:15:48.131,2016-06-23 10:06:35.000,20160136892.0,ALUNO DE GRADUA√á√ÉO
1504569,2461094,2014007910,NaT,2016-06-14 11:16:34.407,2016-06-22 08:04:20.000,20160126401.0,ALUNO DE GRADUA√á√ÉO
1504570,2461095,2014007744,NaT,2016-06-14 11:16:34.459,2016-06-22 08:04:39.000,20160126401.0,ALUNO DE GRADUA√á√ÉO
1504571,2461096,2016005538,NaT,2016-06-14 11:16:58.596,2016-07-04 16:07:41.000,20160138959.0,ALUNO DE GRADUA√á√ÉO
1504572,2461097,2014083427,NaT,2016-06-14 11:17:29.152,2016-06-16 09:17:19.000,20160136918.0,ALUNO DE GRADUA√á√ÉO
1504573,2461098,2014049460,NaT,2016-06-14 11:18:59.254,2016-06-26 13:44:13.000,20170053372.0,ALUNO DE GRADUA√á√ÉO
1504574,2461099,2012008348,2016-06-27 20:35:46.855,2016-06-14 11:20:33.254,2016-07-11 14:37:29.000,2015021539.0,ALUNO DE GRADUA√á√ÉO

In [82]:
# Garantindo que as linhas s√£o realmente duplicadas

df_emprestimos[df_emprestimos.duplicated(keep=False)]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUA√á√ÉO
1,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUA√á√ÉO
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2008112114.0,ALUNO DE P√ìS-GRADUA√á√ÉO
3,709687,L184117,2010-01-18 11:07:46.470,2010-01-04 08:24:21.284,2010-02-03 08:58:45.692,200721119.0,ALUNO DE GRADUA√á√ÉO
4,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUA√á√ÉO
...,...,...,...,...,...,...,...
1504570,2461095,2014007744,NaT,2016-06-14 11:16:34.459,2016-06-22 08:04:39.000,20160126401.0,ALUNO DE GRADUA√á√ÉO
1504571,2461096,2016005538,NaT,2016-06-14 11:16:58.596,2016-07-04 16:07:41.000,20160138959.0,ALUNO DE GRADUA√á√ÉO
1504572,2461097,2014083427,NaT,2016-06-14 11:17:29.152,2016-06-16 09:17:19.000,20160136918.0,ALUNO DE GRADUA√á√ÉO
1504573,2461098,2014049460,NaT,2016-06-14 11:18:59.254,2016-06-26 13:44:13.000,20170053372.0,ALUNO DE GRADUA√á√ÉO
1504574,2461099,2012008348,2016-06-27 20:35:46.855,2016-06-14 11:20:33.254,2016-07-11 14:37:29.000,2015021539.0,ALUNO DE GRADUA√á√ÉO

### Excluindo duplicatas

In [83]:
df_emprestimos = df_emprestimos.drop_duplicates()
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao           data_emprestimo          data_devolucao       matricula_ou_siape  tipo_vinculo_usuario
10000000       2015036976     2017-08-29 20:19:14.111  2017-08-16 16:21:35.442  2017-09-27 15:04:18  2012937973.0        ALUNO DE GRADUA√á√ÉO        1
2651446        2015035139     2018-05-17 13:18:19.350  2018-05-02 12:38:19.859  2018-06-01 12:51:09  20180050472.0       ALUNO DE GRADUA√á√ÉO        1
2651421        2013006520     2018-05-15 13:39:43.549  2018-05-02 12:25:21.926  2018-05-23 13:42:56  20180039312.0       ALUNO DE GRADUA√á√ÉO        1
2651422        2013006495     2018-05-16 06:55:17.556  2018-05-02 12:25:42.187  2018-06-11 11:37:46  20180038790.0       ALUNO DE GRADUA√á√ÉO        1
2651423        2014079547     2018-05-16 06:55:17.520  2018-05-02 12:25:42.222  2018-05-23 16:52:26  20180038790.0       ALUNO DE GRADUA√á√ÉO        1
                                                                                                                                                  ..
1651899        L170461        2013-12-17 21:30:34.839  2013-12-04 11:04:38.626  2014-01-27 20:10:42  2008045951.0        ALUNO DE GRADUA√á√ÉO        1
1651916        2008047971     2014-01-03 13:34:45.848  2013-12-04 11:22:02.877  2014-02-04 14:42:48  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
1651917        X008559        2014-01-03 13:34:45.746  2013-12-04 11:22:02.944  2014-02-04 14:42:58  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
1651918        2010066964     2014-01-03 13:34:45.642  2013-12-04 11:22:02.998  2014-02-04 14:43:02  2010105206.0        ALUNO DE P√ìS-GRADUA√á√ÉO    1
9999996        2010091715     2017-08-28 00:33:45.446  2017-08-16 16:20:12.379  2017-09-11 20:51:02  2016010736.0        ALUNO DE GRADUA√á√ÉO        1
Name: count, Length: 968028, dtype: int64

In [84]:
# Verificando duplicatas no DataFrame inteiro

df_emprestimos.duplicated().sum()

np.int64(0)

In [85]:
# Mostra todas as linhas duplicadas

df_emprestimos[df_emprestimos.duplicated()]

Empty DataFrame
Columns: [id_emprestimo, codigo_barras, data_renovacao, data_emprestimo, data_devolucao, matricula_ou_siape, tipo_vinculo_usuario]
Index: []

### √öltimos ajustes no DataFrame de empr√©stimos

In [86]:
# Verificando os tipos de dados do DataFrame

df_emprestimos.dtypes

id_emprestimo                   object
codigo_barras                   object
data_renovacao          datetime64[ns]
data_emprestimo         datetime64[ns]
data_devolucao          datetime64[ns]
matricula_ou_siape              object
tipo_vinculo_usuario            object
dtype: object

In [87]:
# Verificando valores nulos na coluna c√≥digo de barras, que ser√° a rela√ß√£o com o arquivo dados do acervo

df_emprestimos['codigo_barras'].isnull().sum()

np.int64(0)

### Importando os dados do acervo

In [89]:
# Carregando o arquivo de dados do acervo

df_acervo = pd.read_parquet('dados/exemplares/dados_exemplares.parquet')
df_acervo.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

### Valida√ß√µes do DataFrame de acervo

In [90]:
# Verifica√ß√µes do arquivo de dados do acervo

df_acervo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [91]:
# Verifica valores nulos

df_acervo.isnull().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

In [92]:
# verifica colunas √∫nicas ou  irrelevantes

df_acervo.nunique()

id_exemplar         546141
codigo_barras       545049
colecao                 18
biblioteca              25
status_material          3
localizacao            900
registro_sistema    198503
dtype: int64

In [93]:
# Visualiza amostras aleat√≥rias

df_acervo.sample(5)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
204227,1295549,2018010083,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,639,85129
414892,1038189,2013011464,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,316,190655
246898,248193,2008011296,Folhetos,Biblioteca Central Zila Mamede,ESPECIAL,698,104442
563664,1340837,2019028390,Publica√ß√µes de Autores do RN,Biblioteca Central Zila Mamede,N√ÉO CIRCULA,898,263728
184499,193400,2006041155,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,664,74113

In [94]:
# Verifica o tipo de dados

df_acervo.dtypes

id_exemplar          int64
codigo_barras       object
colecao             object
biblioteca          object
status_material     object
localizacao          int64
registro_sistema     int64
dtype: object

### Unindo os dois DataFrames

In [95]:
# Mesclando os DataFrames de Emprestimos e Acervo

# O m√©todo merge, ir√° mesclar os DataFrames, usando como refer√™ncia a coluna 'codigo_barras'
df_completo = pd.merge(df_emprestimos, # DataFrame da esquerda
                       df_acervo, # DataFrame da direita
                       on = 'codigo_barras', # Coluna em comum entre os dois
                       how = 'left' # Tipo de jun√ß√£o (LEFT JOIN)
                       )
# how = left significa: "traga todos os registros do DataFrame da esquerda (df_emprestimos) e complemente com os dados do da direita (df_acervo) quando houver correspond√™ncia"

df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUA√á√ÉO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUA√á√ÉO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2008112114.0,ALUNO DE P√ìS-GRADUA√á√ÉO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010-01-18 11:07:46.470,2010-01-04 08:24:21.284,2010-02-03 08:58:45.692,200721119.0,ALUNO DE GRADUA√á√ÉO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688,2007027500,2010-01-19 15:59:26.464,2010-01-04 08:27:33.569,2010-02-03 13:06:30.662,2009045971.0,ALUNO DE GRADUA√á√ÉO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0

### Verificando se h√° linhas sem correspond√™ncia e o percentual

In [96]:
# Verificando quantas linhas n√£o encontraram correspond√™ncia no acervo

faltando_acervo = df_completo['id_exemplar'].isnull().sum()
print(f'Linhas sem correspond√™ncia no acervo: {faltando_acervo}')

percent_faltando = (faltando_acervo / len(df_completo)) * 100
print(f'{percent_faltando:.2f}% dos empr√©stimos n√£o t√™m dados de acervo.')

Linhas sem correspond√™ncia no acervo: 189257
8.37% dos empr√©stimos n√£o t√™m dados de acervo.

### Verificando quais os c√≥digos de barra que n√£o encontraram correspond√™ncia

In [97]:
# Verificando quais c√≥digos de barras n√£o encontraram correspond√™ncia

# Seleciona a coluna 'id_exemplar' que vem de df_acervo. Se ela tiver NaN ap√≥s o merge, n√£o houve correspond√™ncia para 
# Aquele c√≥digo de barras.
# isna() retorna True para valores NaN, e False para valores preenchidos
# df_sem_match est√° recebendo os emprestimos que n√£o tiveram correspond√™ncia com os ID's de exemplares do acervo.
df_sem_match = df_completo[df_completo['id_exemplar'].isna()]
df_sem_match.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
17,709701,L163841,2010-01-19 19:02:53.450,2010-01-04 09:48:05.604,2010-02-04 18:23:49.946,2008029450.0,ALUNO DE GRADUA√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN
98,709782,L165850,NaT,2010-01-04 14:06:16.699,2010-01-22 16:09:20.065,200621343.0,ALUNO DE GRADUA√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN
109,709793,L178388,2010-01-19 16:31:44.491,2010-01-04 14:47:41.976,2010-02-01 16:29:17.951,200506323.0,ALUNO DE GRADUA√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN
118,709802,2009032201,2010-01-19 16:13:22.082,2010-01-04 14:57:23.766,2010-02-03 14:04:04.222,2009053966.0,ALUNO DE GRADUA√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN
119,709803,L188583,2010-02-01 15:52:28.614,2010-01-04 15:03:04.753,2010-03-02 17:58:07.985,2010116854.0,ALUNO DE P√ìS-GRADUA√á√ÉO,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
# Retorna os valores √∫nicos da coluna c√≥digo de barras
# Quais foram os c√≥digos de barras que n√£o foram encontrados no acervo?
df_sem_match['codigo_barras'].unique()

array(['L163841', 'L165850', 'L178388', ..., 'L143612', '2018007270',
       'Y021773'], shape=(38540,), dtype=object)

### Exportando o DataFrame Completo para ser usado futuramente

In [100]:
df_completo.to_csv('../desafio02/dataset_completo.csv', index = False)