# Dia 1 - Importação de Dados

In [4]:
# Importando bibliotecas

!pip install pyarrow
!pip install pandas

In [4]:
import pandas as pd
import glob

### Criando repositórios para os arquivos

In [7]:
# Criando diretórios e pastas para receber os arquivos do GitHub

from pathlib import Path

# Cria um caminho (sem criar ainda no sistema de arquivos)
pasta_emprestimos = Path("dados/emprestimos")
pasta_exemplares = Path("dados/exemplares")

# Criação das pastas, incluindo as intermediárias se não existirem
pasta_emprestimos.mkdir(parents=True, exist_ok=True)
pasta_exemplares.mkdir(parents=True, exist_ok=True)

### Realizando a coleta de dados

In [11]:
# Baixando os arquivos para as pastas correspondentes

import requests

# Baixando CSVs

# Lista de anos para concatenar o nome do arquivo.
# Os arquivos CSV tem o mesmo prefixo mudando apenas o final.
# Para não importar os arquivos um a um, cria-se uma lista com o nome final,
# e concatena com o prefixo, realizando o download com um loop
lista_emprestimos = []

# Criando a lista automáticamente
for ano in range(2010, 2021):
    for semestre in [1, 2]:
        if ano == 2020 and semestre == 2:
            continue # pula o segundo semestre de 2020 e encerra o loop
        lista_emprestimos.append(f'{ano}{semestre}')

# Loop de download
for ano in lista_emprestimos:
    # passando o link para download e concatenando o ano ao final do nome do arquivo
    url = f"https://raw.githubusercontent.com/franciscofoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-{ano}.csv"
    
    # faz uma requisição HTTP e armazena (get) a resposta em r
    r = requests.get(url)
    
    # armazenando o arquivo na pasta correspondente
    with open(f"dados/emprestimos/emprestimos-{ano}.csv", "wb") as f:
        f.write(r.content) # escreve o conteúdo de "r", que é o que ele pegou do link, o arquivo.

# Baixando o Parquet

parquet_url = f"https://github.com/franciscofoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet"
r = requests.get(parquet_url)

with open("dados/exemplares/dados_exemplares.parquet", "wb") as f:
    f.write(r.content)

In [12]:
# Criando uma lista com os caminhos de todos os arquivos .csv na pasta emprestimos
caminhos_csv = glob.glob("dados/emprestimos/*.csv")
print(caminhos_csv)

['dados/emprestimos\\emprestimos-20101.csv', 'dados/emprestimos\\emprestimos-20102.csv', 'dados/emprestimos\\emprestimos-20111.csv', 'dados/emprestimos\\emprestimos-20112.csv', 'dados/emprestimos\\emprestimos-20121.csv', 'dados/emprestimos\\emprestimos-20122.csv', 'dados/emprestimos\\emprestimos-20131.csv', 'dados/emprestimos\\emprestimos-20132.csv', 'dados/emprestimos\\emprestimos-20141.csv', 'dados/emprestimos\\emprestimos-20142.csv', 'dados/emprestimos\\emprestimos-20151.csv', 'dados/emprestimos\\emprestimos-20152.csv', 'dados/emprestimos\\emprestimos-20161.csv', 'dados/emprestimos\\emprestimos-20162.csv', 'dados/emprestimos\\emprestimos-20171.csv', 'dados/emprestimos\\emprestimos-20172.csv', 'dados/emprestimos\\emprestimos-20181.csv', 'dados/emprestimos\\emprestimos-20182.csv', 'dados/emprestimos\\emprestimos-20191.csv', 'dados/emprestimos\\emprestimos-20192.csv', 'dados/emprestimos\\emprestimos-20201.csv']

### Criando um DataFrame de DataFrames

In [13]:
# Adicionando todos os CSVs em um único DataFrame

dataframes = []

for caminho in caminhos_csv: 
    print(f'Lendo o arquivo: {caminho}') 
    try:
        df = pd.read_csv(caminho, sep = ',', encoding = 'utf-8') 
        print(f'Primeiras linhas do arquivo {caminho}:')
        print(df.head()) 
        dataframes.append(df)
    except Exception as e:
        print(f'Erro ao ler {caminho}: {e}')

if not dataframes:
    print(f'Nenhum arquivo foi lido corretamente!')
else:
    df_emprestimos = pd.concat(dataframes, ignore_index=True)
    print("DataFrame final concatenado:")
    print(df_emprestimos.head())

Lendo o arquivo: dados/emprestimos\emprestimos-20101.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20101.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.008023e+09      ALUNO DE GRADUAÇÃO
1        2.008023e+09      ALUNO DE GRADUAÇÃO
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.007211e+08      ALUNO DE GRADUAÇÃO
4        2.008023e+09      ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20102.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20102.csv:
   id_emprestimo                codigo_barras                 data_renovacao  \
0         799100  S025602_19/11/2013 10:51:34                            NaN
1         799101                   2008049500                            NaN
2         799102                      X008043                            NaN
3         799103                   2009055438  2010/07/14 18:35:35.042000000
4         799104                      S024636  2010/07/16 21:29:43.569000000

                 data_emprestimo                 data_devolucao  \
0  2010/07/01 07:45:41.111000000  2010/07/07 10:52:31.000000000
1  2010/07/01 08:08:17.690000000  2010/07/01 09:03:44.000000000
2  2010/07/01 08:13:31.574000000  2010/07/09 15:14:44.000000000
3  2010/07/01 08:22:46.085000000  2010/07/29 14:59:16.000000000
4  2010/07/01 08:40:28.512000000  2010/07/28 07:49:32.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.009050e+09   ALUNO DE GRADUAÇÃO
1        2.010056e+09   ALUNO DE GRADUAÇÃO
2        2.009043e+09   ALUNO DE GRADUAÇÃO
3        2.009054e+09   ALUNO DE GRADUAÇÃO
4        2.009054e+09   ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20111.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20111.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0         920246       Y019450                            NaN
1         920247       Y020420                            NaN
2         920248       S020100  2011/01/17 23:31:17.992000000
3         920249       S024844  2011/01/17 23:31:17.944000000
4         920250       S026026  2011/01/17 23:31:17.915000000

                 data_emprestimo                 data_devolucao  \
0  2011/01/03 08:08:18.986000000  2011/01/14 08:36:10.000000000
1  2011/01/03 08:08:19.077000000  2011/01/14 08:36:27.000000000
2  2011/01/03 08:48:20.360000000  2011/01/18 12:37:26.000000000
3  2011/01/03 08:48:20.433000000  2011/02/07 17:46:44.000000000
4  2011/01/03 08:48:20.483000000  2011/01/18 12:37:43.000000000

   matricula_ou_siape             tipo_vinculo_usuario
0        2.010071e+09               ALUNO DE GRADUAÇÃO
1        2.010071e+09               ALUNO DE GRADUAÇÃO
2        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
3        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
4        1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
Lendo o arquivo: dados/emprestimos\emprestimos-20112.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20112.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1028831    2011018942                            NaN
1        1028832    2007009824  2011/07/13 14:30:22.933000000
2        1028833    2007009936  2011/07/13 14:30:22.883000000
3        1028834    2009055437                            NaN
4        1028835    2010093874                            NaN

                 data_emprestimo                 data_devolucao  \
0  2011/07/01 07:25:27.592000000  2011/07/01 18:58:29.000000000
1  2011/07/01 07:46:01.133000000  2011/07/28 09:27:13.000000000
2  2011/07/01 07:46:01.203000000  2011/07/22 08:24:33.000000000
3  2011/07/01 07:52:18.019000000  2011/07/19 13:30:34.000000000
4  2011/07/01 07:52:18.102000000  2011/07/19 13:30:47.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.011026e+09   ALUNO DE GRADUAÇÃO
1        2.009072e+09   ALUNO DE GRADUAÇÃO
2        2.009072e+09   ALUNO DE GRADUAÇÃO
3        2.010065e+09   ALUNO DE GRADUAÇÃO
4        2.010065e+09   ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20121.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20121.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1149749    2010094241  2012/01/17 06:11:08.245000000
1        1149750    2011033432  2012/01/17 06:11:08.211000000
2        1149751    2011077429  2012/01/17 06:11:08.172000000
3        1149752    2011012082  2012/01/15 12:58:34.433000000
4        1149753    2007030983  2012/01/17 10:10:25.514000000

                 data_emprestimo                 data_devolucao  \
0  2012/01/02 07:43:45.619000000  2012/01/31 11:38:29.000000000
1  2012/01/02 07:43:45.673000000  2012/01/31 11:38:12.000000000
2  2012/01/02 07:43:45.718000000  2012/01/31 11:38:44.000000000
3  2012/01/02 08:26:07.711000000  2012/01/30 08:49:35.000000000
4  2012/01/02 08:31:42.179000000  2012/02/06 17:17:51.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.009039e+09   ALUNO DE GRADUAÇÃO
1        2.009039e+09   ALUNO DE GRADUAÇÃO
2        2.009039e+09   ALUNO DE GRADUAÇÃO
3        2.009063e+09   ALUNO DE GRADUAÇÃO
4        2.011051e+09   ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20122.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20122.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1282500    2009037511                            NaN
1        1282501    2010073018                            NaN
2        1282502    2012009920                            NaN
3        1282503    2012010334                            NaN
4        1282504    2007013584  2012/08/06 23:03:54.648000000

                 data_emprestimo                 data_devolucao  \
0  2012/07/02 08:46:50.254000000  2012/07/02 08:47:51.000000000
1  2012/07/02 09:11:58.745000000  2012/09/06 20:38:14.000000000
2  2012/07/02 09:11:58.808000000  2012/09/06 20:38:17.000000000
3  2012/07/02 09:11:58.876000000  2012/09/06 20:38:22.000000000
4  2012/07/02 09:11:59.409000000  2012/09/06 17:05:49.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.011101e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.008011e+09      ALUNO DE GRADUAÇÃO
2        2.008011e+09      ALUNO DE GRADUAÇÃO
3        2.008011e+09      ALUNO DE GRADUAÇÃO
4        2.011110e+09  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20131.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20131.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1399987    2007022885                            NaN
1        1399988       Y017748                            NaN
2        1399989    2010085755                            NaN
3        1399990    2011062415  2013/02/01 11:25:03.172000000
4        1399991    2011023440                            NaN

                 data_emprestimo                 data_devolucao  \
0  2013/01/02 08:57:46.976000000  2013/01/08 16:35:08.000000000
1  2013/01/02 09:59:32.818000000  2013/01/17 08:58:34.000000000
2  2013/01/02 09:59:32.870000000  2013/01/17 08:58:41.000000000
3  2013/01/02 10:22:22.676000000  2013/02/18 15:32:23.000000000
4  2013/01/02 10:22:22.725000000  2013/01/04 09:55:07.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.010118e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.012905e+09      ALUNO DE GRADUAÇÃO
2        2.012905e+09      ALUNO DE GRADUAÇÃO
3        2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20132.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20132.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1535182       E002010                            NaN
1        1535183    2010049079  2013/07/16 17:25:10.615000000
2        1535184    2011013154  2013/07/16 21:03:55.928000000
3        1535185    2011001485  2013/07/16 21:03:55.802000000
4        1535186    2012038972  2013/07/16 17:51:37.835000000

                 data_emprestimo                 data_devolucao  \
0  2013/07/01 07:47:13.765000000  2013/08/06 20:28:21.000000000
1  2013/07/01 07:47:23.170000000  2013/07/18 09:50:26.000000000
2  2013/07/01 07:54:01.549000000  2013/07/30 08:39:22.000000000
3  2013/07/01 07:54:01.611000000  2013/07/17 08:56:58.000000000
4  2013/07/01 08:23:51.535000000  2013/07/31 13:51:11.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.012320e+09  ALUNO MÉDIO/TÉCNICO
1        2.009007e+09   ALUNO DE GRADUAÇÃO
2        2.011018e+09   ALUNO DE GRADUAÇÃO
3        2.011018e+09   ALUNO DE GRADUAÇÃO
4        2.011093e+09   ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20141.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20141.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1659526       Y018631                            NaN
1        1659527    2011018134  2014/02/02 18:59:52.193000000
2        1659528    2013011501  2014/02/02 18:59:51.423000000
3        1659529    2012052570                            NaN
4        1659530    2012029554  2014/01/13 09:05:33.092000000

                 data_emprestimo                 data_devolucao  \
0  2014/01/02 07:27:19.018000000  2014/01/27 14:07:45.000000000
1  2014/01/02 07:57:33.780000000  2014/02/27 16:56:46.000000000
2  2014/01/02 07:57:33.891000000  2014/02/27 16:56:51.000000000
3  2014/01/02 08:01:27.966000000  2014/01/21 07:16:23.000000000
4  2014/01/02 08:04:35.150000000  2014/01/20 18:04:37.000000000

   matricula_ou_siape tipo_vinculo_usuario
0        2.011020e+09   ALUNO DE GRADUAÇÃO
1        3.456619e+06              DOCENTE
2        3.456619e+06              DOCENTE
3        2.013037e+09   ALUNO DE GRADUAÇÃO
4        2.013013e+09   ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20142.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20142.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1772829       C002857                            NaN
1        1772830    2011061496                            NaN
2        1772831    2011065929                            NaN
3        1772832    2013106666                            NaN
4        1772833    2014000856  2014/07/16 14:40:34.640000000

                 data_emprestimo                 data_devolucao  \
0  2014/07/01 08:20:40.476000000  2014/07/01 09:55:02.000000000
1  2014/07/01 08:20:40.567000000  2014/07/01 08:26:05.000000000
2  2014/07/01 08:20:40.675000000  2014/07/21 07:14:12.000000000
3  2014/07/01 08:20:40.797000000  2014/07/01 08:26:23.000000000
4  2014/07/01 08:20:56.969000000  2014/07/25 10:22:13.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.013124e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013075e+09      ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20151.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20151.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        1895298    2014007904                            NaN
1        1895299    2014061826                            NaN
2        1895300    2014059501                            NaN
3        1895301    2014037987                            NaN
4        1895302    2014059024  2015/01/16 16:01:54.126000000

                 data_emprestimo                 data_devolucao  \
0  2015/01/02 08:48:54.915000000  2015/02/09 16:15:02.000000000
1  2015/01/02 08:48:55.227000000  2015/02/09 16:15:08.000000000
2  2015/01/02 08:48:55.495000000  2015/02/09 16:15:15.000000000
3  2015/01/02 09:01:36.820000000  2015/04/13 16:54:20.000000000
4  2015/01/02 09:16:49.566000000  2015/02/03 16:00:40.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
1        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.010116e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013022e+09      ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20152.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20152.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        2022146    2015009397                            NaN
1        2022147    2010052834                            NaN
2        2022148    2010052992                            NaN
3        2022149    2011021723                            NaN
4        2022150    2015005875  2015/07/16 23:19:18.731000000

                 data_emprestimo                 data_devolucao  \
0  2015/07/01 08:12:35.943000000  2015/07/22 08:48:28.000000000
1  2015/07/01 08:37:41.729000000  2015/07/02 11:42:26.000000000
2  2015/07/01 08:37:42.223000000  2015/07/06 15:05:49.000000000
3  2015/07/01 08:37:42.628000000  2015/07/02 11:42:31.000000000
4  2015/07/01 08:38:08.589000000  2015/10/28 12:34:41.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014082e+09      ALUNO DE GRADUAÇÃO
1        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
2        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.014128e+09  ALUNO DE PÓS-GRADUAÇÃO
4        2.013018e+09      ALUNO DE GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20161.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20161.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        2351371    2011010806  2016/01/13 07:22:40.736000000
1        2351372       L078593  2016/01/31 07:31:36.960000000
2        2351373    2010040100  2016/01/31 07:31:36.902000000
3        2351374    2013105705  2016/01/31 07:31:36.843000000
4        2351375       L057436  2016/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2016/01/02 08:01:14.113000000  2016/01/30 07:05:05.000000000
1  2016/01/02 08:29:46.657000000  2016/02/21 13:16:48.000000000
2  2016/01/02 08:29:46.722000000  2016/02/21 13:16:33.000000000
3  2016/01/02 08:29:46.794000000  2016/02/21 13:15:46.000000000
4  2016/01/02 08:38:40.009000000  2016/02/21 13:16:29.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014036e+09      ALUNO DE GRADUAÇÃO
1        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20162.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20162.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        2244075    2014000938  2016/07/18 08:45:47.144000000
1        2244076    2014068108                            NaN
2        2244077    2011019724                            NaN
3        2244078    2013087606                            NaN
4        2244079    2015035561  2016/07/17 10:04:58.043000000

                 data_emprestimo                 data_devolucao  \
0  2016/07/01 07:35:35.546000000  2016/08/02 13:41:40.000000000
1  2016/07/01 08:15:16.838000000  2016/07/01 08:19:09.000000000
2  2016/07/01 08:23:08.484000000  2016/07/01 08:23:52.000000000
3  2016/07/01 08:28:36.707000000  2016/07/18 08:31:59.000000000
4  2016/07/01 08:29:36.655000000  2016/07/25 11:45:48.000000000

   matricula_ou_siape             tipo_vinculo_usuario
0        1.120256e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
1        2.013056e+09               ALUNO DE GRADUAÇÃO
2        2.013056e+09               ALUNO DE GRADUAÇÃO
3        2.243905e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
4        2.410747e+06                          DOCENTE
Lendo o arquivo: dados/emprestimos\emprestimos-20171.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20171.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        9405484    2011010806  2017/01/13 07:22:40.736000000
1        9405488       L078593  2017/01/31 07:31:36.960000000
2        9405492    2010040100  2017/01/31 07:31:36.902000000
3        9405496    2013105705  2017/01/31 07:31:36.843000000
4        9405500       L057436  2017/01/31 07:30:36.293000000

                 data_emprestimo                 data_devolucao  \
0  2017/01/02 08:01:14.113000000  2017/01/30 07:05:05.000000000
1  2017/01/02 08:29:46.657000000  2017/02/21 13:16:48.000000000
2  2017/01/02 08:29:46.722000000  2017/02/21 13:16:33.000000000
3  2017/01/02 08:29:46.794000000  2017/02/21 13:15:46.000000000
4  2017/01/02 08:38:40.009000000  2017/02/21 13:16:29.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.014036e+09      ALUNO DE GRADUAÇÃO
1        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.016101e+10  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20172.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20172.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        9880640    2015035868                            NaN
1        9880644       Y012079  2017/07/18 17:56:06.584000000
2        9880648    2014086285  2017/08/02 03:03:43.220000000
3        9880652    2014083935  2017/08/02 03:03:43.197000000
4        9880656    2014086281  2017/08/02 03:03:43.175000000

                 data_emprestimo                 data_devolucao  \
0  2017/07/03 07:11:59.514000000  2017/07/03 07:12:27.000000000
1  2017/07/03 07:50:51.650000000  2017/08/09 18:53:58.000000000
2  2017/07/03 08:20:56.988000000  2017/09/01 07:48:33.000000000
3  2017/07/03 08:20:57.085000000  2017/09/01 07:48:51.000000000
4  2017/07/03 08:20:57.144000000  2017/09/01 07:49:01.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.016043e+09      ALUNO DE GRADUAÇÃO
1        2.015013e+10      ALUNO DE GRADUAÇÃO
2        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.017102e+10  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20181.csv
Primeiras linhas do arquivo dados/emprestimos\emprestimos-20181.csv:
   id_emprestimo codigo_barras                 data_renovacao  \
0        2580583    2013114890  2018/01/17 12:38:14.159000000
1        2580584    2015030473  2018/01/17 12:38:14.140000000
2        2580585    2016025968  2018/01/17 12:38:14.116000000
3        2580586       L146150                            NaN
4        2580587       L028286                            NaN

                 data_emprestimo                 data_devolucao  \
0  2018/01/02 07:38:43.431000000  2018/02/08 10:11:11.000000000
1  2018/01/02 07:38:43.521000000  2018/02/08 10:11:08.000000000
2  2018/01/02 07:38:43.567000000  2018/02/08 10:11:06.000000000
3  2018/01/02 08:00:21.472000000  2018/01/03 14:00:26.000000000
4  2018/01/02 08:00:21.517000000  2018/01/18 16:49:40.000000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
1        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
2        2.019102e+10  ALUNO DE PÓS-GRADUAÇÃO
3        2.017100e+10  ALUNO DE PÓS-GRADUAÇÃO
4        2.017100e+10  ALUNO DE PÓS-GRADUAÇÃO
Lendo o arquivo: dados/emprestimos\emprestimos-20182.csv

### Concatenando os DataFrames

In [14]:
# Juntando todas as tabelas em uma única

df_emprestimos.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [15]:
df_emprestimos.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario'],
      dtype='object')

### Verificando valores nulos

In [16]:
# Verificando e tratando valores nulos

df_emprestimos.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1285720
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3170
tipo_vinculo_usuario          0
dtype: int64

### Verificando Duplicatas

In [17]:
# Verificando duplicatas no DataFrame inteiro

df_emprestimos.duplicated().sum()

np.int64(37)

In [18]:
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2461099        2012008348     2016/06/27 20:35:46.855000000  2016/06/14 11:20:33.254000000  2016/07/11 14:37:29.000000000  2.015022e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
1443393        2012037906     2013/03/20 20:17:10.574000000  2013/03/07 11:24:19.326000000  2013/03/25 08:58:44.000000000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013/04/07 01:06:51.679000000  2013/03/07 11:25:22.661000000  2013/05/07 16:19:34.000000000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [19]:
# Mostra todas as linhas duplicadas

df_emprestimos[df_emprestimos.duplicated()]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
19,709698,2009047725,2010/01/18 14:44:41.163000000,2010/01/04 09:21:19.099000000,2010/02/02 12:02:38.444000000,2.009047e+09,ALUNO DE GRADUAÇÃO
20,709698,2009047725,2010/01/18 14:44:41.163000000,2010/01/04 09:21:19.099000000,2010/02/02 12:02:38.444000000,2.009047e+09,ALUNO DE GRADUAÇÃO
28,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
29,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
30,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
31,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
32,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
33,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
34,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
35,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
36,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
37,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
38,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
39,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
1394906,2351375,L057436,2016/01/31 07:30:36.293000000,2016/01/02 08:38:40.009000000,2016/02/21 13:16:29.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394907,2351376,H004983,2016/01/31 07:31:36.786000000,2016/01/02 08:46:42.991000000,2016/02/22 16:10:28.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394908,2351377,H011333,2016/01/31 07:31:36.658000000,2016/01/02 08:46:43.400000000,2016/02/22 16:10:40.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394924,2351385,2013114886,2016/01/16 07:41:19.590000000,2016/01/02 10:02:44.456000000,2016/01/30 07:52:10.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394925,2351386,2015005192,2016/01/16 07:41:19.537000000,2016/01/02 10:02:44.507000000,2016/01/30 07:52:07.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394926,2351387,2015004940,2016/01/16 07:41:19.473000000,2016/01/02 10:02:44.560000000,2016/01/30 07:52:00.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394927,2351388,2012029817,NaN,2016/01/02 10:08:27.599000000,2016/01/23 16:28:01.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394928,2351389,2014077426,NaN,2016/01/02 10:08:27.658000000,2016/01/23 16:27:57.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394929,2351390,2015007050,2016/01/31 23:03:17.389000000,2016/01/02 10:08:27.720000000,2016/03/16 16:26:37.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394930,2351391,L195470,2016/01/17 16:03:38.760000000,2016/01/02 10:12:01.462000000,2016/01/27 16:37:55.000000000,2.014036e+09,ALUNO DE GRADUAÇÃO
1394931,2351392,2015008037,2016/01/17 16:03:38.705000000,2016/01/02 10:12:01.529000000,2016/01/27 16:37:59.000000000,2.014036e+09,ALUNO DE GRADUAÇÃO
1504567,2461092,2014007909,NaN,2016/06/14 11:13:44.817000000,2016/06/16 09:55:01.000000000,2.016089e+09,ALUNO DE GRADUAÇÃO
1504568,2461093,2014007908,NaN,2016/06/14 11:15:48.131000000,2016/06/23 10:06:35.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504569,2461094,2014007910,NaN,2016/06/14 11:16:34.407000000,2016/06/22 08:04:20.000000000,2.016013e+10,ALUNO DE GRADUAÇÃO
1504570,2461095,2014007744,NaN,2016/06/14 11:16:34.459000000,2016/06/22 08:04:39.000000000,2.016013e+10,ALUNO DE GRADUAÇÃO
1504571,2461096,2016005538,NaN,2016/06/14 11:16:58.596000000,2016/07/04 16:07:41.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504572,2461097,2014083427,NaN,2016/06/14 11:17:29.152000000,2016/06/16 09:17:19.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504573,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,2.017005e+10,ALUNO DE GRADUAÇÃO
1504574,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2.015022e+09,ALUNO DE GRADUAÇÃO

In [20]:
# Garantindo que as linhas são realmente duplicadas

df_emprestimos[df_emprestimos.duplicated(keep=False)]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
1504570,2461095,2014007744,NaN,2016/06/14 11:16:34.459000000,2016/06/22 08:04:39.000000000,2.016013e+10,ALUNO DE GRADUAÇÃO
1504571,2461096,2016005538,NaN,2016/06/14 11:16:58.596000000,2016/07/04 16:07:41.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504572,2461097,2014083427,NaN,2016/06/14 11:17:29.152000000,2016/06/16 09:17:19.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504573,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,2.017005e+10,ALUNO DE GRADUAÇÃO
1504574,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2.015022e+09,ALUNO DE GRADUAÇÃO

### Excluindo duplicatas

In [21]:
df_emprestimos = df_emprestimos.drop_duplicates()
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [22]:
# Verificando duplicatas no DataFrame inteiro

df_emprestimos.duplicated().sum()

np.int64(0)

In [23]:
# Mostra todas as linhas duplicadas

df_emprestimos[df_emprestimos.duplicated()]

Empty DataFrame
Columns: [id_emprestimo, codigo_barras, data_renovacao, data_emprestimo, data_devolucao, matricula_ou_siape, tipo_vinculo_usuario]
Index: []

### Últimos ajustes no DataFrame de empréstimos

In [24]:
# Verificando os tipos de dados do DataFrame

df_emprestimos.dtypes

id_emprestimo             int64
codigo_barras            object
data_renovacao           object
data_emprestimo          object
data_devolucao           object
matricula_ou_siape      float64
tipo_vinculo_usuario     object
dtype: object

In [25]:
# Verificando valores nulos na coluna código de barras, que será a relação com o arquivo dados do acervo

df_emprestimos['codigo_barras'].isnull().sum()

np.int64(0)

In [26]:
# Verificando padrão das colunas de datas

df_emprestimos['data_devolucao'] = pd.to_datetime(df['data_devolucao'], errors = 'coerce')
df_emprestimos['data_emprestimo'] = pd.to_datetime(df['data_emprestimo'], errors = 'coerce')
df_emprestimos['data_renovacao'] = pd.to_datetime(df['data_renovacao'], errors = 'coerce')

### Importando os dados do acervo

In [27]:
# Carregando o arquivo de dados do acervo

df_acervo = pd.read_parquet('dados/exemplares/dados_exemplares.parquet')
df_acervo.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

### Validações do DataFrame de acervo

In [28]:
# Verificações do arquivo de dados do acervo

df_acervo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

In [29]:
# Verifica valores nulos

df_acervo.isnull().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

In [30]:
# verifica colunas únicas ou  irrelevantes

df_acervo.nunique()

id_exemplar         546141
codigo_barras       545049
colecao                 18
biblioteca              25
status_material          3
localizacao            900
registro_sistema    198503
dtype: int64

In [31]:
# Visualiza amostras aleatórias

df_acervo.sample(5)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
240268,242951,2008012430,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,627,101243
246346,247743,2008038801,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,643,104172
145006,156450,2007033014,Obras de Referência,Biblioteca Setorial do Centro Ciências da Saúd...,NÃO CIRCULA,632,58081
394036,1003160,2012036591,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,375,184319
203941,211116,2006034288,Dissertações,Biblioteca Central Zila Mamede,ESPECIAL,621,85022

In [32]:
# Verifica o tipo de dados

df_acervo.dtypes

id_exemplar          int64
codigo_barras       object
colecao             object
biblioteca          object
status_material     object
localizacao          int64
registro_sistema     int64
dtype: object

### Unindo os dois DataFrames

In [33]:
# Mesclando os DataFrames de Emprestimos e Acervo

# O método merge, irá mesclar os DataFrames, usando como referência a coluna 'codigo_barras'
df_completo = pd.merge(df_emprestimos, # DataFrame da esquerda
                       df_acervo, # DataFrame da direita
                       on = 'codigo_barras', # Coluna em comum entre os dois
                       how = 'left' # Tipo de junção (LEFT JOIN)
                       )
# how = left significa: "traga todos os registros do DataFrame da esquerda (df_emprestimos) e complemente com os dados do da direita (df_acervo) quando houver correspondência"

df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2020-01-02 08:17:30.290,2020-01-07 11:14:07,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaT,2020-01-02 08:17:30.391,2020-01-07 11:14:17,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,NaT,2020-01-02 08:17:30.436,2020-01-07 11:24:46,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2020-01-17 09:56:18.380,2020-01-02 08:36:40.163,2020-01-31 14:53:52,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688,2007027500,2020-01-15 08:47:19.174,2020-01-02 09:51:24.156,2020-01-29 12:18:08,2.009046e+09,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0

### Verificando se há linhas sem correspondência e o percentual

In [34]:
# Verificando quantas linhas não encontraram correspondência no acervo

faltando_acervo = df_completo['id_exemplar'].isnull().sum()
print(f'Linhas sem correspondência no acervo: {faltando_acervo}')

percent_faltando = (faltando_acervo / len(df_completo)) * 100
print(f'{percent_faltando:.2f}% dos empréstimos não têm dados de acervo.')

Linhas sem correspondência no acervo: 189257
8.37% dos empréstimos não têm dados de acervo.

### Verificando quais os códigos de barra que não encontraram correspondência

In [35]:
# Verificando quais códigos de barras não encontraram correspondência

# Seleciona a coluna 'id_exemplar' que vem de df_acervo. Se ela tiver NaN após o merge, não houve correspondência para 
# Aquele código de barras.
# isna() retorna True para valores NaN, e False para valores preenchidos
# df_sem_match está recebendo os emprestimos que não tiveram correspondência com os ID's de exemplares do acervo.
df_sem_match = df_completo[df_completo['id_exemplar'].isna()]
df_sem_match.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
17,709701,L163841,2020-01-15 17:06:52.273,2020-01-02 10:26:04.065,2020-01-31 10:57:32,2.008029e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
98,709782,L165850,2020-01-17 10:46:58.963,2020-01-02 16:37:54.645,2020-02-27 18:20:56,2.006213e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
109,709793,L178388,NaT,2020-01-02 17:04:53.243,2020-01-07 13:24:47,2.005063e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
118,709802,2009032201,NaT,2020-01-02 17:51:52.860,2020-01-21 07:56:58,2.009054e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
119,709803,L188583,NaT,2020-01-02 17:51:52.899,2020-01-21 07:57:06,2.010117e+09,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Retorna os valores únicos da coluna código de barras
# Quais foram os códigos de barras que não foram encontrados no acervo?
df_sem_match['codigo_barras'].unique()

array(['L163841', 'L165850', 'L178388', ..., 'L143612', '2018007270',
       'Y021773'], shape=(38540,), dtype=object)

### Exportando o DataFrame Completo para ser usado futuramente

In [37]:
df_completo.to_csv('../desafio02/dataset_completo.csv', index = False)