# üìò Desafio 06 - Empr√©stimos por Curso (2015-2020)

## üéØ Objetivo

Neste desafio, vamos identificar quantos empr√©stimos foram realizados entre os anos de 2015 e 2020 pelos cursos de gradua√ß√£o avaliados pelo MEC. Para isso, precisaremos combinar informa√ß√µes de diferentes fontes (Excel e JSON) com os dados de empr√©stimos consolidados anteriormente.

Cursos analisados:

- Biblioteconomia
- Ci√™ncias Sociais
- Comunica√ß√£o Social
- Direito
- Filosofia
- Pedagogia

In [2]:
# üìö Importando bibliotecas essenciais

import pandas as pd
import numpy as np

## üì• Importa√ß√£o dos Dados de Usu√°rios

Vamos importar os dados dos alunos vindos de duas fontes distintas:

- Um arquivo `.xlsx` com parte das matr√≠culas
- Um arquivo `.json` com registros adicionais

Esses dados ser√£o combinados em um √∫nico DataFrame para posterior jun√ß√£o com os empr√©stimos.

In [4]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
from pathlib import Path

# Criando a estrutura de pastas local
pasta_dados = Path('dados')
pasta_dados.mkdir(parents=True, exist_ok=True)

In [11]:
import requests

# URLs dos arquivos
url_excel = "https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_6-Novos_dados_novas_analises/Datasets/matricula_alunos.xlsx"
url_json = "https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json"

# Download Excel
r_excel = requests.get(url_excel)
with open("dados/matricula_alunos.xlsx", "wb") as f:
    f.write(r_excel.content)

# Download JSON
r_json = requests.get(url_json)
with open("dados/cadastro_alunos.json", "wb") as f:
    f.write(r_json.content)

In [12]:
# Importando os dados Excel
matricula_alunos = pd.read_excel('dados/matricula_alunos.xlsx')

# Importando os dados JASON
cadastro_alunos = pd.read_json('dados/cadastro_alunos.json')

# Importando o dataset completo gerado no desafio04
df = pd.read_csv('../desafio04/dataset_completo.csv')

# Visualizando as primeiras linhas
display(df.head(3), matricula_alunos.head(3), cadastro_alunos.head(3))

C:\Users\Jhonny\AppData\Local\Temp\ipykernel_16952\3463228346.py:8: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../desafio04/dataset_completo.csv')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_cdu
0,709684,L095049,NaN,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUA√á√ÉO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ci√™ncias aplicadas
1,709685,L167050,NaN,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUA√á√ÉO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ci√™ncias aplicadas
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2.008112e+09,ALUNO DE P√ìS-GRADUA√á√ÉO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ci√™ncias aplicadas

  Matricula de alunos at√© 2010          Unnamed: 1           Unnamed: 2
0          N√∫mero da matr√≠cula     Tipo de vinculo                Curso
1                  190001688.0  ALUNO DE GRADUA√á√ÉO           MATEM√ÅTICA
2                  199014489.0  ALUNO DE GRADUA√á√ÉO  CI√äNCIAS BIOL√ìGICAS

     tipo_curso                                          registros
0     GRADUACAO  [{"matricula_ou_siape": "2009029003.0", "tipo_...
1  POSGRADUACAO  [{"matricula_ou_siape": "2008112114.0", "tipo_...

## üßº Pr√©-processamento dos Dados de Matr√≠cula

A fim de enriquecer a an√°lise com a vari√°vel *curso dos alunos*, recebemos dois conjuntos de dados complementares:

1. **`matricula_alunos.xlsx`** ‚Äì Planilha contendo dados de alunos da gradua√ß√£o at√© o ano de 2010.
2. **`cadastro_alunos.json`** ‚Äì Arquivo com informa√ß√µes de alunos de gradua√ß√£o e p√≥s-gradua√ß√£o matriculados ap√≥s 2010, estruturado por meio de registros em listas aninhadas.

### Estrutura dos dados

**Excel (`.xlsx`)**
- Possui duas linhas de cabe√ßalho desnecess√°rias: a primeira √© um t√≠tulo e a segunda cont√©m os nomes das colunas.
- As colunas v√°lidas s√£o:
  - `N√∫mero da matr√≠cula`
  - `Tipo de vinculo`
  - `Curso`
- A matr√≠cula aparece como n√∫mero com ponto flutuante (ex: `190001688.0`), o que exige padroniza√ß√£o para `string`.

**JSON (`.json`)**
- Apresenta duas linhas: uma para *gradua√ß√£o* e outra para *p√≥s-gradua√ß√£o*.
- Cada linha cont√©m, na coluna `registros`, uma lista de dicion√°rios com as seguintes chaves:
  - `matricula_ou_siape`
  - `tipo_vinculo_usuario`
  - `curso`

### Objetivo do tratamento

Nosso objetivo √© obter um **√∫nico DataFrame unificado** contendo:
- `matricula_ou_siape`
- `tipo_vinculo_usuario`
- `curso`

Esse novo DataFrame servir√° como base para cruzar com o dataset de empr√©stimos e, assim, realizar a an√°lise por curso solicitada neste desafio.

Vamos come√ßar o tratamento a partir do Excel.

In [15]:
# Tratando os dados Excel

# Pulando a primeira linha, para obter o cabe√ßalho corretamente
df_excel = pd.read_excel("dados/matricula_alunos.xlsx", skiprows=1)

# Renomeando as colunas de forma limpa
df_excel.columns = ['matricula_ou_siape', 'tipo_vinculo_usuario', 'curso']

# Transformando a matr√≠cula em string
df_excel['matricula_ou_siape'] = df_excel['matricula_ou_siape'].astype(str)

df_excel.head(3)

  matricula_ou_siape tipo_vinculo_usuario                curso
0        190001688.0   ALUNO DE GRADUA√á√ÉO           MATEM√ÅTICA
1        199014489.0   ALUNO DE GRADUA√á√ÉO  CI√äNCIAS BIOL√ìGICAS
2        199735674.0   ALUNO DE GRADUA√á√ÉO           MATEM√ÅTICA

In [ ]:
import json

# Caminho local do JSON
caminho_json = 'dados/cadastro_alunos.json'

# Abrindo e carregando com json
with open(caminho_json, 'r', encoding='utf-8') as f:
    dados_json = json.load(f)

# Verificando a estrutura
for i, item in enumerate(dados_json):
    print(f"\nüîé ITEM {i}")
    print("tipo_curso:", item.get('tipo_curso'))
    print("registros (tipo):", type(item.get('registros')))
    print("registros (exemplo):", item.get('registros')[:2])  # mostra s√≥ os 2 primeiros

üîé ITEM 0
tipo_curso: GRADUACAO
registros (tipo): <class 'str'>
registros (exemplo): [{

üîé ITEM 1
tipo_curso: POSGRADUACAO
registros (tipo): <class 'str'>
registros (exemplo): [{

In [27]:
import json

with open("dados/cadastro_alunos.json", "r", encoding="utf-8") as file:
    dados_json = json.load(file)

lista_dataframes = []

for item in dados_json:
    registros_str = item.get('registros')

    try:
        # Decodifica a string JSON interna
        registros = json.loads(registros_str)

        # Agora sim √© uma lista de dicion√°rios
        if isinstance(registros, list) and all(isinstance(r, dict) for r in registros):
            temp_df = pd.DataFrame(registros)
            lista_dataframes.append(temp_df)
        else:
            print("‚ùå Estrutura inv√°lida ap√≥s json.loads")

    except Exception as e:
        print(f"‚ö†Ô∏è Erro ao decodificar registros: {e}")

# Concatena os DataFrames v√°lidos
df_json = pd.concat(lista_dataframes, ignore_index=True)

# Garantindo consist√™ncia no tipo de dado
df_json['matricula_ou_siape'] = df_json['matricula_ou_siape'].astype(str)

display(df_json.head())

  matricula_ou_siape tipo_vinculo_usuario                   curso
0       2009029003.0   ALUNO DE GRADUA√á√ÉO               FILOSOFIA
1        200617346.0   ALUNO DE GRADUA√á√ÉO                 DIREITO
2        200746502.0   ALUNO DE GRADUA√á√ÉO  ENGENHARIA DE PETR√ìLEO
3        200504968.0   ALUNO DE GRADUA√á√ÉO           ADMINISTRA√á√ÉO
4        200615572.0   ALUNO DE GRADUA√á√ÉO   CI√äNCIA DA COMPUTA√á√ÉO

In [43]:
# Concatenando as bases Excel e JSON
df_alunos = pd.concat([df_excel, df_json], ignore_index=True)
df_alunos.to_csv('dados/df_alunos.csv')

# Verificando amostras
print(df_alunos.shape)
df_alunos.sample(5)

(89968, 3)

      matricula_ou_siape    tipo_vinculo_usuario                    curso
53440      20160124247.0      ALUNO DE GRADUA√á√ÉO         ENGENHARIA CIVIL
19172       2011010591.0      ALUNO DE GRADUA√á√ÉO       COMUNICA√á√ÉO SOCIAL
60103      20150125465.0      ALUNO DE GRADUA√á√ÉO     ENGENHARIA FLORESTAL
66341       2015019094.0      ALUNO DE GRADUA√á√ÉO       CI√äNCIAS ATUARIAIS
79022       2014107601.0  ALUNO DE P√ìS-GRADUA√á√ÉO  ARQUITETURA E URBANISMO

### üîó Unifica√ß√£o dos Dados dos Alunos

Ap√≥s o tratamento dos dados extra√≠dos do Excel e JSON, unificamos ambos em um √∫nico DataFrame, `df_alunos`. Esse conjunto representa a base de usu√°rios com seus v√≠nculos institucionais e cursos de origem, necess√°ria para cruzarmos com o hist√≥rico de empr√©stimos entre 2015 e 2020.

### üéØ Filtrando Alunos dos Cursos Avaliados (Gradua√ß√£o)

Como parte da avalia√ß√£o dos cursos de gradua√ß√£o pela institui√ß√£o e pelo MEC, precisamos focar a an√°lise nos seguintes cursos, que passar√£o por inspe√ß√£o quanto ao uso da biblioteca:

- Biblioteconomia
- Ci√™ncias Sociais
- Comunica√ß√£o Social
- Direito
- Filosofia
- Pedagogia

Nosso objetivo √© identificar os alunos de gradua√ß√£o que est√£o matriculados nesses cursos e, em seguida, cruzar suas matr√≠culas com os registros de empr√©stimos realizados entre 2015 e 2020.

Para isso, faremos dois filtros no nosso DataFrame consolidado df_alunos:

Filtrar apenas os registros cujo v√≠nculo seja "ALUNO DE GRADUA√á√ÉO".

Selecionar apenas os alunos matriculados nos cursos citados acima.

In [32]:
# Criando uma lista dos cursos que ser√£o avaliados
cursos_interesse = [
    'BIBLIOTECONOMIA',
    'CI√äNCIAS SOCIAIS',
    'COMUNICA√á√ÉO SOCIAL',
    'DIREITO',
    'FILOSOFIA',
    'PEDAGOGIA'
]

# Fazendo o filtro do `df_alunos`, tanto pelo curso, quanto pelo tipo de v√≠nculo do aluno
df_graduacao = df_alunos[
    (df_alunos['tipo_vinculo_usuario'] == 'ALUNO DE GRADUA√á√ÉO') & # Toma somente os alunos da gradua√ß√£o
    (df_alunos['curso'].str.upper().isin(cursos_interesse)) # Verifica se o curso pertence √° lista de cursos criada
]

display(df_graduacao.head(5), df_graduacao['curso'].value_counts())

   matricula_ou_siape tipo_vinculo_usuario             curso
8         200031011.0   ALUNO DE GRADUA√á√ÉO           DIREITO
9         200045080.0   ALUNO DE GRADUA√á√ÉO   BIBLIOTECONOMIA
15        200115053.0   ALUNO DE GRADUA√á√ÉO  CI√äNCIAS SOCIAIS
18        200123382.0   ALUNO DE GRADUA√á√ÉO   BIBLIOTECONOMIA
19        200123730.0   ALUNO DE GRADUA√á√ÉO   BIBLIOTECONOMIA

curso
COMUNICA√á√ÉO SOCIAL    3211
BIBLIOTECONOMIA       3186
CI√äNCIAS SOCIAIS      3180
DIREITO               3122
FILOSOFIA             2874
PEDAGOGIA             2847
Name: count, dtype: int64

## üéØ Cruzamento entre Empr√©stimos e Alunos Avaliados

Agora que temos uma base consolidada com os alunos de gradua√ß√£o dos **cursos avaliados** (`Biblioteconomia`, `Ci√™ncias Sociais`, `Comunica√ß√£o Social`, `Direito`, `Filosofia` e `Pedagogia`), precisamos **relacion√°-los aos dados de empr√©stimos** para calcular a quantidade de empr√©stimos realizados por curso e por ano.

### üìå Objetivo
Nosso objetivo √© gerar uma **tabela resumo** contendo:
- **√çndice:** Cursos avaliados
- **Colunas:** Anos (de 2015 a 2020)
- **Valores:** Quantidade de empr√©stimos por curso e por ano
- **Extras:** Linha de totais por ano e coluna de totais por curso

### üß™ Etapa atual: Verifica√ß√£o de compatibilidade

Antes de cruzar os dados, precisamos garantir que os dois DataFrames envolvidos (`df` com os empr√©stimos e `df_alunos_filtrados` com os alunos dos cursos avaliados) tenham a mesma estrutura na coluna que ser√° usada como chave de jun√ß√£o: `matricula_ou_siape`.

Para isso, faremos:
- üîç **Verifica√ß√£o do tipo da coluna `matricula_ou_siape`** em ambos os DataFrames.
- üßº Caso necess√°rio, converteremos ambos para o mesmo tipo (preferencialmente `str`).
- ‚úÖ Teste inicial para checar se h√° correspond√™ncia entre as matr√≠culas dos alunos e as matr√≠culas presentes na base de empr√©stimos.

### ‚úÖ Pr√≥ximo passo
Ap√≥s essa valida√ß√£o, poderemos aplicar um filtro no DataFrame de empr√©stimos, mantendo **apenas os registros realizados pelos alunos desses cursos**, no intervalo de **2015 a 2020**, e prosseguir com a contagem dos empr√©stimos por ano.

In [34]:
# Verificando a compatibilidade entre os DataFrames
df['matricula_ou_siape'].dtype, df_graduacao['matricula_ou_siape'].dtype

(dtype('float64'), dtype('O'))

Obtivemos tipos diferentes para a coluna `matricula_ou_siape` para os DataFrames, o que indica a necessidade de convers√£o na base `df`, para o tipo `str`.

In [35]:
# Convertendo a coluna `matricula_ou_siape` em `str`
df['matricula_ou_siape'] = df['matricula_ou_siape'].astype(str)
df['matricula_ou_siape'].dtype

dtype('O')

## üßπ Filtrando os Empr√©stimos por Cursos e Per√≠odo

Com a base de alunos devidamente filtrada, agora √© o momento de aplicar o mesmo filtro sobre os **dados de empr√©stimos**.

### üéØ Objetivo
Manter no DataFrame de empr√©stimos (`df`) **apenas os registros que atendem simultaneamente** aos seguintes crit√©rios:
1. **Pertencem a alunos dos cursos avaliados** de gradua√ß√£o.
2. **Foram realizados entre os anos de 2015 e 2020**, intervalo de interesse definido pelo desafio.

### üîë L√≥gica de Filtragem
- Usaremos a coluna `matricula_ou_siape` como chave para cruzar os dados.
- Aplicaremos um filtro que mant√©m apenas as linhas do DataFrame de empr√©stimos em que:
  - A matr√≠cula do empr√©stimo est√° presente na base `df_graduacao`.
  - A data do empr√©stimo est√° entre `2015-01-01` e `2020-12-31`.

### üß™ Antes de aplicar:
- Certificaremos que as colunas `matricula_ou_siape` e `data_emprestimo` estejam no formato apropriado (`str` e `datetime`, respectivamente).
- Em seguida, aplicaremos os filtros combinados e criaremos um novo DataFrame contendo apenas os registros relevantes para an√°lise.

In [37]:
# Mesclando os DataFrames
df_emprestimos_filtrado = pd.merge(
    df,  # dados de empr√©stimos
    df_graduacao,  # dados de alunos dos cursos de interesse
    on='matricula_ou_siape', # v√≠nculo entre os DataFrames
    how='inner'  # inner porque queremos apenas as matr√≠culas que t√™m correspond√™ncia
)
df_emprestimos_filtrado.head(5)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario_x,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_cdu,tipo_vinculo_usuario_y,curso
0,709698,2009047725,2010-01-18 14:44:41.163,2010-01-04 09:21:19.099,2010-02-02 12:02:38.444,2009046838.0,ALUNO DE GRADUA√á√ÉO,281004.0,Acervo Circulante,Biblioteca Setorial do Centro Ci√™ncias da Sa√∫d...,REGULAR,651,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,DIREITO
1,709699,2009051872,2010-01-18 14:44:41.144,2010-01-04 09:21:19.126,2010-02-02 12:03:35.649,2009046838.0,ALUNO DE GRADUA√á√ÉO,281880.0,Acervo Circulante,Biblioteca Setorial do Centro Ci√™ncias da Sa√∫d...,REGULAR,647,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,DIREITO
2,709724,2009022118,NaN,2010-01-04 10:44:44.282,2010-01-28 10:53:00.346,2009064639.0,ALUNO DE GRADUA√á√ÉO,259469.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,602,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,BIBLIOTECONOMIA
3,709725,2009022349,NaN,2010-01-04 10:44:44.311,2010-01-28 10:53:21.511,2009064639.0,ALUNO DE GRADUA√á√ÉO,270247.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,625,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,BIBLIOTECONOMIA
4,709730,2006040088,2010-01-19 09:16:57.265,2010-01-04 10:57:59.104,2010-02-12 11:30:47.029,200633139.0,ALUNO DE GRADUA√á√ÉO,159996.0,Acervo Circulante,Biblioteca Setorial do Centro Ci√™ncias da Sa√∫d...,REGULAR,628,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,COMUNICA√á√ÉO SOCIAL

Agora, precisamos filtrar apenas o per√≠odo entre 2015 √† 2020. Para isso, primeiro garantimos que as colunas contendo data est√£o no formato `datetime`.

In [38]:
# Garante que a coluna est√° no tipo datetime
df_emprestimos_filtrado['data_emprestimo'] = pd.to_datetime(df_emprestimos_filtrado['data_emprestimo'], errors='coerce')

In [40]:
# Define intervalo de interesse
inicio = '2015-01-01'
fim = '2020-12-31'

# Aplica o filtro
df_emprestimos_filtrado = df_emprestimos_filtrado[
    (df_emprestimos_filtrado['data_emprestimo'] >= inicio) &
    (df_emprestimos_filtrado['data_emprestimo'] <= fim)
]

df_emprestimos_filtrado.head(5)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario_x,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_cdu,tipo_vinculo_usuario_y,curso
205862,1895308,2014006710,NaN,2015-01-02 10:19:38.087,NaN,2014021454.0,ALUNO DE GRADUA√á√ÉO,1109169.0,Acervo Circulante,Biblioteca Setorial Prof. Ronaldo Xavier de Ar...,REGULAR,664,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,FILOSOFIA
205863,1895310,2014055802,2015-01-17 12:31:05.134,2015-01-02 10:25:40.883,NaN,2013018187.0,ALUNO DE GRADUA√á√ÉO,1164232.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,153,Filosofia e psicologia,ALUNO DE GRADUA√á√ÉO,DIREITO
205864,1895326,2008009575,2015-01-17 09:29:54.302,2015-01-02 12:26:43.571,NaN,2014029499.0,ALUNO DE GRADUA√á√ÉO,240242.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,612,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,CI√äNCIAS SOCIAIS
205865,1895327,2010072725,2015-01-17 09:29:53.780,2015-01-02 12:26:43.840,NaN,2014029499.0,ALUNO DE GRADUA√á√ÉO,824595.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,621,Ci√™ncias aplicadas,ALUNO DE GRADUA√á√ÉO,CI√äNCIAS SOCIAIS
205866,1895328,2012058303,2015-01-17 09:29:53.313,2015-01-02 12:26:44.750,NaN,2014029499.0,ALUNO DE GRADUA√á√ÉO,1024730.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,391,Ci√™ncias sociais,ALUNO DE GRADUA√á√ÉO,CI√äNCIAS SOCIAIS

### üìä Gera√ß√£o da Tabela: Empr√©stimos por Curso e por Ano (2015‚Äì2020)

Agora que temos um DataFrame consolidado com:

- alunos da gradua√ß√£o nos cursos de interesse;
- registros de empr√©stimos entre 2015 e 2020;

...nosso pr√≥ximo objetivo √© construir uma tabela din√¢mica com a quantidade de empr√©stimos realizados por curso em cada ano.

#### üß© Estrutura desejada:

- √çndice: curso
- Colunas: anos (de 2015 a 2020)
- Valores: contagem de empr√©stimos (id_emprestimo)

Al√©m disso, iremos adicionar:

- uma coluna de total por curso (linha horizontal);
- uma linha de total por ano (coluna vertical).

In [42]:
# 1. Criando uma coluna com o ano do empr√©stimo
df_emprestimos_filtrado['ano'] = df_emprestimos_filtrado['data_emprestimo'].dt.year

# 2. Criando a tabela din√¢mica (pivot_table)
tabela_emprestimos = pd.pivot_table(
    df_emprestimos_filtrado,
    index='curso',
    columns='ano',
    values='id_emprestimo',
    aggfunc='count',
    fill_value=0  # substitui valores nulos por 0
)

# 3. Adicionando a coluna "Total" (por curso)
tabela_emprestimos['Total'] = tabela_emprestimos.sum(axis=1)

# 4. Adicionando a linha "Total" (por ano)
tabela_emprestimos.loc['Total'] = tabela_emprestimos.sum()

# Exibindo a tabela final
tabela_emprestimos

ano                  2015   2016   2017   2018   2019  2020   Total
curso
BIBLIOTECONOMIA      7989   7319   7661   6661   6264   945   36839
CI√äNCIAS SOCIAIS     7783   7294   7269   6472   6061   860   35739
COMUNICA√á√ÉO SOCIAL   7548   8488   8761   7336   6210   836   39179
DIREITO              7866   7599   8171   7249   6119   937   37941
FILOSOFIA            7362   7951   7776   6623   5872   865   36449
PEDAGOGIA            7579   7545   7888   6809   6186   916   36923
Total               46127  46196  47526  41150  36712  5359  223070

### üìä An√°lise Final ‚Äì Empr√©stimos por Curso (2015 a 2020)

Com a consolida√ß√£o dos dados de usu√°rios e empr√©stimos, foi poss√≠vel gerar uma tabela cruzada com os **cursos de gradua√ß√£o de interesse** e a **quantidade de empr√©stimos realizados entre os anos de 2015 e 2020**.

| Curso               | 2015 | 2016 | 2017 | 2018 | 2019 | 2020 | Total |
|---------------------|------|------|------|------|------|------|--------|
| Biblioteconomia     | 7989 | 7319 | 7661 | 6661 | 6264 |  945 |  36839 |
| Ci√™ncias Sociais    | 7783 | 7294 | 7269 | 6472 | 6061 |  860 |  35739 |
| Comunica√ß√£o Social  | 7548 | 8488 | 8761 | 7336 | 6210 |  836 |  39179 |
| Direito             | 7866 | 7599 | 8171 | 7249 | 6119 |  937 |  37941 |
| Filosofia           | 7362 | 7951 | 7776 | 6623 | 5872 |  865 |  36449 |
| Pedagogia           | 7579 | 7545 | 7888 | 6809 | 6186 |  916 |  36923 |
| **Total**           |46127 |46196 |47526 |41150 |36712 | 5359 | 223070 |

#### üìå Principais Insights

- **Comunica√ß√£o Social** lidera o ranking em n√∫mero total de empr√©stimos no per√≠odo, com **39.179** registros, seguido de **Direito** e **Pedagogia**.
- A partir de **2018**, nota-se um **decl√≠nio progressivo** no volume de empr√©stimos em todos os cursos, tend√™ncia que se acentua drasticamente em **2020**, possivelmente devido ao in√≠cio da pandemia de COVID-19.
- O comportamento semelhante entre os cursos ao longo dos anos sugere que fatores externos impactaram o uso da biblioteca de forma generalizada, n√£o havendo grandes disparidades entre as √°reas.
- Mesmo em 2020, houve algum n√≠vel de uso, o que pode indicar a presen√ßa de servi√ßos ainda operando (em menor escala) ou atrasos na devolu√ß√£o registrados como movimenta√ß√£o.

#### üìà Sugest√£o

Uma an√°lise complementar pode incluir:
- O cruzamento com os meses de maior movimenta√ß√£o por curso.
- A compara√ß√£o com o tamanho do corpo discente de cada curso, para medir **proporcionalmente** o uso da biblioteca.
- A verifica√ß√£o da exist√™ncia de campanhas institucionais de incentivo √† leitura ou exig√™ncia de leituras espec√≠ficas em disciplinas-chave ao longo dos anos.

---